In [1]:
import numpy as np
import pandas as pd

In [8]:
rng = pd.date_range('3/6/2012 00:00', periods = 20, freq = 'D')
rng.tz

In [13]:
rng_tz = pd.date_range('3/6/2012 00:00', periods = 99, freq = 'D', tz = 'Europe/London')
rng_tz.tz

In [14]:
# You can also localize a naive timestamp
t_naive = pd.Timestamp('2016-07-10 08:50')
t_naive

Timestamp('2016-07-10 08:50:00')

In [7]:
t.tz_convert('Asia/Tokyo')

Timestamp('2016-07-10 22:50:00+0900', tz='Asia/Tokyo')

# day light savings

In [22]:
rng = pd.date_range('2016-03-10', periods=20, tz='US/Central')
ts = pd.Series(range(20), index=rng)
ts

2016-03-10 00:00:00-06:00     0
2016-03-11 00:00:00-06:00     1
2016-03-12 00:00:00-06:00     2
2016-03-13 00:00:00-06:00     3
2016-03-14 00:00:00-05:00     4
2016-03-15 00:00:00-05:00     5
2016-03-16 00:00:00-05:00     6
2016-03-17 00:00:00-05:00     7
2016-03-18 00:00:00-05:00     8
2016-03-19 00:00:00-05:00     9
2016-03-20 00:00:00-05:00    10
2016-03-21 00:00:00-05:00    11
2016-03-22 00:00:00-05:00    12
2016-03-23 00:00:00-05:00    13
2016-03-24 00:00:00-05:00    14
2016-03-25 00:00:00-05:00    15
2016-03-26 00:00:00-05:00    16
2016-03-27 00:00:00-05:00    17
2016-03-28 00:00:00-05:00    18
2016-03-29 00:00:00-05:00    19
Freq: D, dtype: int64

In [23]:
rng = pd.date_range('2016-03-10', periods=10, tz='utc')
ts = pd.Series(range(10), index=rng)
ts

2016-03-10 00:00:00+00:00    0
2016-03-11 00:00:00+00:00    1
2016-03-12 00:00:00+00:00    2
2016-03-13 00:00:00+00:00    3
2016-03-14 00:00:00+00:00    4
2016-03-15 00:00:00+00:00    5
2016-03-16 00:00:00+00:00    6
2016-03-17 00:00:00+00:00    7
2016-03-18 00:00:00+00:00    8
2016-03-19 00:00:00+00:00    9
Freq: D, dtype: int64

In [24]:
ts.tz_convert('US/Central')

2016-03-09 18:00:00-06:00    0
2016-03-10 18:00:00-06:00    1
2016-03-11 18:00:00-06:00    2
2016-03-12 18:00:00-06:00    3
2016-03-13 19:00:00-05:00    4
2016-03-14 19:00:00-05:00    5
2016-03-15 19:00:00-05:00    6
2016-03-16 19:00:00-05:00    7
2016-03-17 19:00:00-05:00    8
2016-03-18 19:00:00-05:00    9
Freq: D, dtype: int64

In [25]:
pd.date_range('03-12-2016 22:00', periods = 12, freq = 'H', tz = 'US/Eastern')

DatetimeIndex(['2016-03-12 22:00:00-05:00', '2016-03-12 23:00:00-05:00',
               '2016-03-13 00:00:00-05:00', '2016-03-13 01:00:00-05:00',
               '2016-03-13 03:00:00-04:00', '2016-03-13 04:00:00-04:00',
               '2016-03-13 05:00:00-04:00', '2016-03-13 06:00:00-04:00',
               '2016-03-13 07:00:00-04:00', '2016-03-13 08:00:00-04:00',
               '2016-03-13 09:00:00-04:00', '2016-03-13 10:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', freq='H')